.card {
  &-title {
    text-align: center;
    font-size: 1.75rem !important;
    line-height: 2.375rem !important;
  }
  &-text {
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.6rem;
    opacity: 50%;
  }
  &-btn {
    padding: 1rem 2rem !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 0.8125rem !important;
  }
}

@media screen and (min-width: 768px) {
  .card {
    &-img {
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 992px) {
  .card {
    flex-direction: row !important;
    max-height: 380px;
    max-width: 1080px !important;
    &-img {
      height: 100%;
    }
    &-body {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
