$highlight: #d87d4a;

.iconCart-container {
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.modal-dialog {
  margin-top: 60px !important;
  margin-right: 12px !important;
}

.modal-header {
  border: none !important;
}

.modal-footer {
  border: none !important;
}

.quantityCartItems {
  margin: 0;
  padding: 2px 7px;
  font-size: 0.7rem;
  color: white;
  text-align: center;
  background-color: $highlight;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  right: -9px;
}

.cartWidget-txtBtn {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

///////

.emptyCart {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
  }
}
