.cartCount {
  grid-template-columns: 1fr 2fr 1fr;
  height: 21px;
  &-btn {
    width: 100%;
    height: 100%;
    &:hover {
      color: #d87d4a !important;
    }
  }
  &-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
  }
}
