.footer {
  &-container {
    background-color: black;
    height: auto;
    position: relative;
    bottom: 0px;
  }
  &-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 25pt;
    text-align: center;
    color: white;
    opacity: 0.5;
  }
}
