@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');


///////////////////////
// PROJECT COLORS
///////////////////////

$highlight: #d87d4a;
$lightTxt: #101010;
$background: #f1f1f1;
$lightBg: #fafafa;
$highlightHover: #fbaf85;
$darkBgText: #ffffff;
$leadText: #000000;

///////////////////////
// CUSTOM COLORS
///////////////////////

$primary: $highlight;
$secondary: $highlightHover;
//$success: $green;
$info: $background;
//$warning: $yellow;
//$danger: $red;
$light: $darkBgText;
$dark: $leadText;

///////////////////////
// CUSTOM Hx
///////////////////////

$lead-font-size: 1;
$headings-font-family: 'Manrope', sans-serif;
$headings-font-weight: bold;
$headings-color: $dark;

///////////////////////
// CUSTOM BUTTONS
///////////////////////

$enable-rounded: false;
$btn-padding-y: 0;
$btn-padding-x: 0;
$btn-font-family: 'Manrope', sans-serif;
$btn-focus-width: 0px;
$btn-focus-box-shadow: none;
$line-height-base: 1;
$line-height-sm: .1;
$btn-padding-y-sm: 0;
$btn-padding-x-sm: 0;


@import "~bootstrap/scss/bootstrap";
